apiVersion: v1
kind: Namespace
metadata:
  name: ${component.kubeflow.profile.name}
  annotations:
    owner: ${component.kubeflow.profile.owner.username}
  labels:
    istio-injection: enabled
    katib-metricscollector-injection: enabled
    serving.kubeflow.org/inferenceservice: enabled
  ownerReferences:
  - apiVersion: "kubeflow.org/v1"
    blockOwnerDeletion: true
    controller: true
    kind: Profile
    name: ${component.kubeflow.profile.name}
